/*! Mistype v1.3.0 | MIT License | http://git.io/mistype */

/*
 * Scaffolding
 */

/* Reset box sizing */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* Body properties */
body {
  padding: 2%;
  font: 14px/20px sans-serif;
  color: #666;
  background-color: #fff;
}

/* Horizontal rules */
hr {
  border: 0;
  border-top: 1px solid #ccc;
}

/* Set base bottom margin (half of line height) */
hr, pre, p, ul, ol, dl,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/*
 * Grid
 */

/* Centered container */
.container {
  max-width: 96%;
  margin-right: auto;
  margin-left: auto;
}

/* Wrapper for series of columns */
.row {
  margin-right: -1%;
  margin-left: -1%;
}

/* Base column styles */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
  position: relative;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

/* Responsive 10-column sizing */
@media (min-width: 992px) {
  .col-1  { width: 10%; }
  .col-2  { width: 20%; }
  .col-3  { width: 30%; }
  .col-4  { width: 40%; }
  .col-5  { width: 50%; }
  .col-6  { width: 60%; }
  .col-7  { width: 70%; }
  .col-8  { width: 80%; }
  .col-9  { width: 90%; }
  .col-10 { width: 100%; }
}

/*
 * Utilities
 */

/* Clearfix
   [http://nicolasgallagher.com/micro-clearfix-hack/] */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

/* Floats */
.pull-right { float: right !important; }
.pull-left  { float: left !important; }

/* Toggling content */
.shown { display: block !important; }

.hidden {
  display: none !important;
  visibility: hidden;
}

.visible   { visibility: visible; }
.invisible { visibility: hidden; }

/* Screenreaders-only content
   [http://a11yproject.com/posts/how-to-hide-content] */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}