/*! Mistype v1.2.0 | MIT license | http://git.io/mistype */

/*
 * Scaffolding
 */

/* Re-set box sizing */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 2%;
  font: 14px/20px sans-serif;
  color: #666;
  background-color: #fff;
}

hr {
  border: 0;
  border-top: 1px solid #999;
}

/* Nuke margins */
hr, pre, p, ul, ol,
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* Subscript and superscript */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}

/*
 * Grid
 */

/* Centered container */
.container {
  max-width: 96%;
  margin: 0 auto;
}

/* Wrapper for a series of columns */
.row {
  margin-right: -1%;
  margin-left: -1%;
}

/* Base column styles */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
  position: relative;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

/* Precise and responsive 10-column sizing */
@media (min-width: 992px) {
  .col-1  {width: 10%;}
  .col-2  {width: 20%;}
  .col-3  {width: 30%;}
  .col-4  {width: 40%;}
  .col-5  {width: 50%;}
  .col-6  {width: 60%;}
  .col-7  {width: 70%;}
  .col-8  {width: 80%;}
  .col-9  {width: 90%;}
  .col-10 {width: 100%;}
}

/*
 * Utilities
 */

/* Clearfix [http://nicolasgallagher.com/micro-clearfix-hack/] */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

/* Floats */
.pull-right {float: right !important;}
.pull-left  {float: left !important;}

/* Toggling content */
.show {display: block !important;}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.invisible {visibility: hidden;}

/* Screenreaders-only */
.sr-only {display: none !important;}